.event {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
  /* Default margin-bottom for smaller screens */
}

.gallery {
  width: 70%;
}

@media (min-width: 1024px) {
  /* Adjust 1024px based on your definition of a large display */
  .event {
    margin-bottom: 200px;
  }
}

.event {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.body {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .event {
    margin-top: -60px;
    margin-bottom: -360px;
  }
  .body {
    margin-top: 60px;
  }
}
